$theme_color: #20bd67;
$color_1: #fff;

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}
@keyframes slideInUp {
  from {
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}
.slideInUp {
  animation-name: slideInUp;
}
body{
  margin: 0;
  padding: 0;
  background-color: #e9ebee;
  font-family: 'Raleway', sans-serif;
}
.margin-10{
  width: auto;
  height: 10px;
  display: table;
}
.top_bar_wrapper{
  width: 100%;
  height: auto;
  background-color: #fff;
  border-bottom: 1px solid #dfdfdf;
  position: relative;
  .container{
    padding: 15px 0;
    .logo{
      height: 100%;
      font-size: 30px;
      font-weight: bold;
      letter-spacing: 2px;
      display: inline-block;
      color: $theme_color;
      text-decoration: none;
    }
    .search_box{
      display: inline-block;
      width: 40%;
      &:hover{
        .search_input{
          border-color: $theme_color;
        }
        .search_trigger{
          color: $theme_color;
        }
      }
      .search_input{
        height: 40px;
        box-shadow: none;
        border-radius: 5px;
        font-size: 15px;
        padding-left: 20px;
        &:focus{
          border-color: $theme_color;
        }
      }
      .search_trigger{
        position: absolute;
        z-index: 100;
        top: -1px;
        right: 0;
        font-size: 18px;
        font-weight: bold;
        border-radius: 25px !important;
        box-shadow: none;

      }
    }
    .create_trigger{
      float: right;
      display: inline-block;
      height: 36px;
      padding: 0 25px;
      line-height: 36px;
      border-radius: 4px;
      cursor: pointer;
      color: #fff;
      background-color: $theme_color;
      outline: 0;
      text-decoration: none;

    }
  }
  .user_panel{
    position: absolute;
    right: 20px;
    top: 20px;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    .drop_box{
      position: absolute;
      top: calc(100% + 5px);
      right: -10px;
      width: 200px;
      height: auto;
      display: table;
      background-color: #fff;
      border: 1px solid #dfdfdf;
      padding: 10px;
      opacity: 0;
      transition-duration: 0.3s;
      -webkit-transition-duration: 0.3s;
      &.active{
        opacity: 1;
        transition-duration: 0.3s;
        -webkit-transition-duration: 0.3s;
      }
      .inner_wrapper{
        width: 100%;
        height: auto;
        display: table;
        text-align: center;
        .input_form{
          width: calc(100% - 20px);
          height: 30px;
          border-radius: 3px;
          border: 1px solid #c0c0c0;
          padding: 3px 10px;
        }
        .action_trigger{
          margin-top: 10px;
          width: 100%;
          height: 35px;
          background-color: $theme_color;
          border: 1px solid $theme_color;
          color: #fff;
          cursor: pointer;
        }
      }
    }
  }
}
.search_header{
  width: 800px;
  height: 40px;
  background-color: #fff;
  border: 1px solid #dfdfdf;
  margin: auto;
  .bar_title{
    font-size: 18px;
    color: #989898;
    line-height: 40px;
    padding-left: 20px;
    display: table;
    float: left;
  }
  .close_trigger{
    float: right;
    display: table;
    margin-right: 10px;
    font-size: 20px;
    line-height: 40px;
    cursor: pointer;
  }
}
.post_list_wrapper{
  width: 100%;
  height: auto;
  display: block;
  .post_list{
  display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    .eachPost{
      border-radius: 3px;
      box-shadow: 0 0 20px #e9ebee;
      background-color: #fff;
      margin-top: 20px;
      border: 1px solid #dfdfdf;
      position: relative;
      width: 100%;
      height: 350px;
      &:hover{
        .image-box{
          img{
            transition: .3s ease;
            transform: scale(1.2);
          }
        }
      }
      &.create-post-wrap{
        box-shadow:none;
        background-color: transparent;
        border: 2px dashed #a3a3a3;
        border-radius: 5px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      &:hover{
        transition: .2s ease;
        border-color: $theme_color;
        a{
          transition: .2s ease;
          color: $theme_color;
        }
      }
      }
      .create-post{
        a{
          transition: .2s ease;
          color: #a3a3a3;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          text-decoration: none;
          width: 100%;
          height: 100%;
          font-size: 24px;
          i{
            font-size: 64px;
          }
        }
      }
      .dropBox {
        z-index: 10;
        position: absolute;
        right: 10px;
        top: 10px;
        .dropBox_inner {
          position: absolute;
          right: 10px;
          top: 10px;
          width: 10px;
          cursor: pointer;
          font-size: 20px;
          .icon_trigger{
            width: auto;
            height: auto;
            display: table;
            position: relative;
            bottom: 10px;
            right: 7px;
          }
          &:hover {
            .dropMenu {
              transition: .2s ease-in-out;
              top: 10px;
              display: block;
              opacity: 1;
              visibility: visible;
            }
          }
          .dropMenu {
            box-shadow: 0 0 8px #e9ebee;
            border-radius: 5px;
            position: absolute;
            top: 30px;
            right: 0;
            background-color: #fff;
            width: 180px;
            padding: 10px 5px;
            opacity: 0;
            border: 1px solid #e9ebee;
            visibility: hidden;
            .drop_child{
              font-weight: bold;
              background: #fff;
              display: block;
              color: #696969;
              font-size: 14px;
              padding: 8px 10px;
              transition: .2s ease;
              i{
                font-size: 20px;
              }
              &:hover {
                transition: .2s ease;
                background-color: #dfdfdf;
              }
            }
          }
        }
      }
      .image-box{
        width: 100%;
        height: 170px;
        overflow: hidden;
        img{
          transition: .3s ease;
          height: 100%;
          width: 100%;
          transform: scale(1);
        }
      }
      .wrapper{
        padding: 10px ;
        text-overflow: ellipsis;
        overflow: hidden;
      .post_title{
        a{
          text-decoration: none;
          color: #454545;
          height: 30px;
          width: 250px;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          font-size: 16px;
          display: block;
          font-weight: 600;
          &:hover{
            color: $theme_color;
          }
        }
      }
      .post_content{
        overflow: hidden;
        height: 110px;
        line-height: 29px;
        color: #696969;
        font-size: 15px;
      }
      }
    }
  }
}
.ground_loader_wrapper{
  width: 500px;
  height: 100px;
  display: table;
  text-align: center;
  margin: auto;
  .alert_msg{
    font-size: 30px;
    font-weight: 600;
    color: #777;
  }
  .bg-bar{
    width: 100%;
    height: 6px;
    background-color: #ffffff;
    margin: 10px 0;
    border-radius: 3px;
    display: inline-table;
  }
  .sm-bar{
    width: 50%;
    height: 6px;
    background-color: #ffffff;
    margin: 10px 0;
    border-radius: 3px;
    display: inline-table;
  }
}
.delete_confirm_wrapper{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  z-index: -987654;
  &._active{
    z-index: 98765;
    background-color: rgba(0, 0, 0, 0.5);
    .delete_confirm{
      opacity: 1;
      transition-duration: 0.4s;
    }
  }
  .delete_confirm{
    width: 100%;
    height: auto;
    text-align: center;
    opacity: 0;
    transition-duration: 0.4s;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .delete_confirm_inner{
      border-radius: 5px;
      width: 400px;
      min-height: 260px;
      padding: 10px 0;
      background-color: #fff;
      position: relative;
      .help_slogan-icon{
        font-size: 80px;
        text-align: center;
        color: #cf3f4c;
        opacity: .8;
      }
      .help_slogan{
        width: 100%;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        color: #a3a3a3;
        margin-bottom: 10px;
      }
      .post_body{
        width: 400px;
        height: 200px;
        min-height: 200px;
        max-height: 300px;
        border: 1px solid #a3a3a3;
        padding: 10px;
        resize: vertical;
        font-size: 14px;
        color: #444;
        font-weight: 500;
        border-radius: 4px;
      }
      .action_section{
        width: 100%;
        .action_trigger{
          margin-right: 20px;
          text-decoration: none;
          color: #a3a3a3;
          background-color: #fff;
          font-size: 18px;
          border-radius: 3px;
          border: 1px solid #dfdfdf;
          padding: 10px 20px;
          cursor: pointer;
          font-weight: bold;
          i{
            font-size: 18px;
          }
          &.danger{
            padding: 10px 20px;
            font-size: 18px;
            border-radius: 3px;
            margin-right: 0;
            background-color: #cf3f4c;
            color: #eadfdf;
            border-color: #cf3f4c;
          }
        }
      }
    }
  }
}
